<header class="header-home {{ if default true .Site.Params.animate }}animated{{ end }}">

    <a class="link" href="{{ .Site.BaseURL }}">
        <img class="selfie" alt="{{ .Title }}" src="{{ .Site.Author.avatar }}" />
    </a>

    <h1 class="title">{{ .Site.Author.name }}</h1>
    <h2 class="description">{{ .Site.Author.bio }}</h2>
    <div class="social-links">
        {{ range .Site.Params.social }}
        <a class="link" data-title="{{ .name | default .url }}" href="{{ .url }}" target="_blank">
            <svg class="icon icon-{{- .icon -}}"><use xlink:href="#icon-{{- .icon -}}"></use></svg>
        </a>
        {{ end }}
    </div>
</header>
