<header class="header-home {{ if default .Site.Data.default.params.animate .Site.Params.animate }}animated{{ end }}">

    <a class="link" href="{{ .Site.BaseURL }}">
        <img class="selfie" alt="{{ .Title }}" src="{{ .Site.Author.avatar | default .Site.Data.default.Author.avatar }}" />
    </a>

    <h1 class="title">{{ .Site.Author.name | default .Site.Data.default.Author.name }}</h1>
    <h2 class="description">{{ .Site.Author.bio | default .Site.Data.default.Author.bio }}</h2>
    <div class="social-links">
        {{ $base_url := .Site.BaseURL }}
        {{ $social := .Site.Data.default.params.social }}
        {{ if (isset .Site.Params "social") }} {{ $social = .Site.Params.social }} {{ end }}
        {{ range $social }}
        <a class="link" data-title="{{ .name | default .url }}" href="{{ .url }}" target="_blank">
            <svg class="icon icon-{{- .icon -}}"><use xlink:href="#icon-{{- .icon -}}"></use></svg>
        </a>
        {{ end }}
    </div>
</header>
